{% extends 'generic/object.html' %}
{% load helpers %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">{% trans "Dependency" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Service" %}</th>
            <td>{{ object.service|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Depends On" %}</th>
            <td>{{ object.depends_on|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Relationship Type" %}</th>
            <td>{% badge object.get_relationship_type_display object.get_relationship_type_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Criticality" %}</th>
            <td>{% badge object.get_criticality_display object.get_criticality_color %}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Owner" %}</th>
            <td>{{ object.owner|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock %}
